h1.headingh1{
    font-size: 75px;
}
h2{
    margin-top: 0px;
}
.filterButtonDiv{
    height: 112px;
    line-height: 112px;
    text-align: right;
}
.filterButtonDiv button{
    vertical-align: middle;
}
.open{
    display: block;
}
.closed{
    display: none;
}
.categories ul.list-inline{
    margin-left: 0;
}
.categories ul.list-inline li{
    cursor: pointer;
}
